<div class="row">
  <div class="col-md-12">
    <h3>
      My Cart
    </h3>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4>
      Products:
    </h4>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li *ngFor="let product of products" class="list-group-item">
        <ul class="list-group">
          <li class="list-group-item">Name: {{product.name}}</li>
          <li class="list-group-item">Quantity: {{product.amount}}</li>
          <li class="list-group-item">Price: {{product.price}}</li>
        </ul>
      </li>
    </ul>
  </div>
</div>