<mat-drawer-container autosize class="containerStyle">
  <mat-drawer #drawer class="cartPosition" mode="side">
    <div class="col-md-12">
      <app-cart></app-cart>
    </div>
  </mat-drawer>
  <div class="contentPageStyle">
    <div class="headerPosition col-md-12">
      <div class="navigation-container">
        <button #myBtn type="button" class="btn btn-default side-btn" mat-button 
        (click)="drawer.toggle(); toggleClick = !toggleClick">
          <span [ngClass]="toggleClick ? 'glyphicon glyphicon-menu-right' : 'glyphicon glyphicon-menu-left'"></span>
          Cart
        </button>
        <app-categories class="categories"></app-categories>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>