<h1 mat-dialog-title>Add Product</h1>
<div mat-dialog-content>
  <mat-form-field>
    <div class="row">
      <div class="col-xs-12">
        <form [formGroup]="addingProductsForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" formControlName="name">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label for="imagePath">Image URL</label>
                <input type="text" id="imagePath" class="form-control" formControlName="imagePath" #imagePath>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 pull-right">
              <div class="form-group">
                <img [src]="imagePath.value" alt="" class="img-responsive imgStyle">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label for="price">Price</label>
                <input type="number" id="price" class="form-control" formControlName="price">
              </div>
            </div>
            <!-- </div>
          <div class="row"> -->
            <div class="col-xs-6">
              <div class="form-group">
                <div *ngIf="current.name == 'General'">
                  <label for="category">Category</label>
                  <select formControlName="category" id="category" class="form-control">
                    <option value="" disabled="true">Choose Category</option>
                    <option *ngFor="let category of categories" [value]="category._id">{{ category.name }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button type="sumbit" class="btn btn-success" (click)="onNoClick()" [disabled]="!addingProductsForm.valid">Save</button>
              <button type="button" class="btn btn-danger" (click)="onNoClick()">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- <input matInput tabindex="1" [(ngModel)]="data.animal"> -->
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <!-- <button mat-button (click)="onNoClick()">No Thanks</button> -->
  <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
</div>