<div class="row">
  <div class="col-md-12">
    <h3>
      My Cart
    </h3>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4>
      Products:
    </h4>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li *ngFor="let item of getCartItems()" class="list-group-item listStyle">
        <ul class="list-group ulPosition">
          <div class="hoverToShow" *ngIf="!hoverDelete">
            <button class="btn btn-danger btnStyle" (click)="hoverDelete = true">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button class="btn btn-success btnStyle" (click)="editItem(item)">
              <span class="glyphicon glyphicon-edit"></span>
            </button>
          </div>
          <div class="hoverToShow" *ngIf="hoverDelete">
            <p class="pStyle">Are you sure you want to delete {{item.name}} from the cart?</p>
            <div style="flex-direction:row-reverse">
              <button class="btn btn-danger btnStyle" (click)="removeItemFromCart(item)">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
              <button class="btn btn-primary btnStyle" (click)="hoverDelete = false">
                <span class="glyphicon glyphicon-circle-arrow-left"></span>
              </button>
            </div>
          </div>
          <li class="list-group-item listStyle">Name: {{item.name}}</li>
          <li class="list-group-item listStyle">Quantity: {{item.amount}} * {{item.price}}$</li>
          <li class="list-group-item listStyle">Price: {{item.price*item.amount}}$</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4 style="display: inline-flex;">
      Total: {{totalPrice}}$
    </h4>
    <button class="btn btn-primary pull-right" (click)="orderCart()">Order</button>
  </div>
</div>